#DaytonaServerName=
DaytonaMOTD=Welcome to DCNet Daytona USA server
#TetrisServerName=
TetrisMOTD=Welcome to DCNet Sega Tetris server
#GolfShiyou2ServerName=
GolfShiyou2MOTD=Welcome to DCNet Golf Shiyou Yo 2 server
#AeroDancingServerName=
AeroDancingMOTD=Welcome to DCNet AeroDancing server
#HundredSwordsServerName=
HundredSwordsMOTD=Welcome to DCNet Hundred Swords server
#CuldceptServerName=
CuldceptMOTD=Welcome to DCNet Culdcept Second server
#PowerSmashServerName=
PowerSmashMOTD=Welcome to Power Smash on DCNet
#DatabasePath=/var/local/lib/iwango/iwango.db
